/* Reset das configuração iniciais */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Inicio de estilização do app Realizado sozinho.

html {
  display: flex;
  justify-content: center;
  font-family: sans-serif;
  font-size: 10px;
  height: 100vh;
  background-image: url(Img/starsky.jpg);
  background-size: cover;
}
.img-moon {
  display: flex;
  float: left;
  margin-left: -70%;
  padding: 10px;
  animation: moon-orbit infinite;
  animation-duration: 200s;
  width: 100px;
  height: 100px;
}
.img-cristal {
  display: flex;
  justify-content: center;
  margin-bottom: 10%;
  margin-left: 20%;
  margin-top: 10%;
  width: 500px;
  z-index: 1;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
}
h1 {
  text-align: center;
  padding-top: 10px;
  font-size: 6em;
  color: aliceblue;
  z-index: 1.1;
}
p {
  font-size: 3rem;
  text-align: left;
  color: aliceblue;
}
input {
  align-items: center;
  font-size: 3rem;
  margin-top: 15px;
  text-align: left;
  border-radius: 10px;
  border-color: blue;
  box-shadow: 2px 3px lightblue;
  padding: 3px;
}
input:focus {
  background: lightcyan;
  box-shadow: 2px 3px blue;
}
input:hover {
  background: lightblue;
}
button {
  justify-content: center;
  border-radius: 10px;
  box-shadow: 2px 3px lightblue;
  font-size: 3rem;
  padding: 5px;
  margin-top: 5%;
  background: lightcyan;
  color: blue;
  margin-left: 40%;
}
button:hover {
  background: lightblue;
}
.rocketseat{
    display: flex;
    position: relative;
    float: left;
    margin-left: -60%;
    margin-top: -100px;
    animation: rocketdown infinite;
    animation-duration: 10s ;
    animation-direction: alternate;
}
@keyframes moon-orbit {
  
  from{
    transform: translate(-100px);
  }
   to {
    transform: translateX(2220px);
  }
}
@keyframes rocketdown {
    from{transform: translateY(0px);}
    to{transform: translateY(-100px);}
}

Termino da estilização sozinho*/

/* Inicio do style acompanhado pela aula */

body {
  background-color: black;
  color: white;
  text-align: center;
  font-family: sans-serif;
  font-size: 1em;
}

.container {
  margin-top: 100px;
  width: 80%;
  max-width: 400px;
  margin-inline: auto;
}

h1 {
  margin-top: 40px;
  margin-bottom: 10px;
  opacity: 0.9;
}

p {
  margin-bottom: 40px;
  opacity: 0.7;
}

input,
button {
  display: block;
  width: 100%;

  padding: 20px;
  font-size: 20px;
  border-radius: 4px;
}

input {
  margin-bottom: 20px;
}

button {
  border: none;
  background-color: blueviolet;
  color: white;
  transition: filter 0.2s;
}

/* pseudo-class */
button:hover {
  filter: brightness(1.2);
  cursor: pointer;
}

.rocketseat {
  display: flex;
  float: left;
  animation: rocketdown infinite;
  animation-duration: 10s;
  animation-direction: alternate;
}

/* utlizado media query para configurar a animação da imagem */

@keyframes rocketdown {
  from{transform: translateY(0px);}
  to{transform: translateY(-100px);}
}